In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('HA.csv')
df.head(10)

,age,gender,region,income_level,hypertension,diabetes,cholesterol_level,obesity,waist_circumference,family_history,...,blood_pressure_diastolic,fasting_blood_sugar,cholesterol_hdl,cholesterol_ldl,triglycerides,EKG_results,previous_heart_disease,medication_usage,participated_in_free_screening,heart_attack
0,60,Male,Rural,Middle,0,1,211,0,83,0,...,62,173,48,121,101,Normal,0,0,0,0
1,53,Female,Urban,Low,0,0,208,0,106,1,...,76,70,58,83,138,Normal,1,0,1,0
2,62,Female,Urban,Low,0,0,231,1,112,1,...,74,118,69,130,171,Abnormal,0,1,0,1
3,73,Male,Urban,Low,1,0,202,0,82,1,...,65,98,52,85,146,Normal,0,1,1,0
4,52,Male,Urban,Middle,1,0,232,0,89,0,...,75,104,59,127,139,Normal,1,0,1,1
5,52,Male,Urban,Middle,0,0,231,1,81,1,...,71,129,34,148,191,Normal,0,1,1,0
6,73,Female,Rural,Low,0,0,238,1,91,0,...,97,88,40,128,167,Normal,0,1,1,0
7,64,Female,Urban,Low,0,1,165,0,72,1,...,83,112,47,100,50,Normal,0,0,1,1
8,49,Female,Urban,Low,0,0,186,0,115,0,...,87,147,46,157,198,Abnormal,0,1,0,0
9,61,Male,Rural,Low,0,0,121,1,88,1,...,87,79,34,93,164,Normal,0,0,0,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158355 entries, 0 to 158354
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   age                             158355 non-null  int64
 1   gender                          158355 non-null  object
 2   region                          158355 non-null  object
 3   income_level                    158355 non-null  object
 4   hypertension                    158355 non-null  int64
 5   diabetes                        158355 non-null  int64
 6   cholesterol_level               158355 non-null  int64
 7   obesity                         158355 non-null  int64
 8   waist_circumference             158355 non-null  int64
 9   family_history                  158355 non-null  int64
 10  smoking_status                  158355 non-null  object
 11  alcohol_consumption             63507 non-null   object
 12  physical_activity               158355 non-null  object
 13  dietary_habits                  158355 non-null  object
 14  air_pollution_exposure          158355 non-null  object
 15  stress_level                    158355 non-null  object
 16  sleep_hours                     158355 non-null  float64
 17  blood_pressure_systolic         158355 non-null  int64
 18  blood_pressure_diastolic        158355 non-null  int64
 19  fasting_blood_sugar             158355 non-null  int64
 20  cholesterol_hdl                 158355 non-null  int64
 21  cholesterol_ldl                 158355 non-null  int64
 22  triglycerides                   158355 non-null  int64
 23  EKG_results                     158355 non-null  object
 24  previous_heart_disease          158355 non-null  int64
 25  medication_usage                158355 non-null  int64
 26  participated_in_free_screening  158355 non-null  int64
 27  heart_attack                    158355 non-null  int64
dtypes: float64(1), int64(17), object(10)
memory usage: 33.8+ MB

In [10]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,158355.0,54.543778,11.910897,25.0,46.000000,55.000000,63.00000,90.0
hypertension,158355.0,0.299069,0.457851,0.0,0.000000,0.000000,1.00000,1.0
diabetes,158355.0,0.199804,0.399854,0.0,0.000000,0.000000,0.00000,1.0
cholesterol_level,158355.0,199.533264,39.737565,100.0,172.000000,199.000000,226.00000,350.0
obesity,158355.0,0.249901,0.432957,0.0,0.000000,0.000000,0.00000,1.0
waist_circumference,158355.0,93.268504,16.382205,20.0,82.000000,93.000000,104.00000,173.0
family_history,158355.0,0.300218,0.458354,0.0,0.000000,0.000000,1.00000,1.0
sleep_hours,158355.0,6.480064,1.425398,3.0,5.492985,6.507461,7.52064,9.0
blood_pressure_systolic,158355.0,129.515772,15.005641,61.0,119.000000,130.000000,140.00000,199.0
blood_pressure_diastolic,158355.0,79.490809,10.002964,37.0,73.000000,80.000000,86.00000,127.0
fasting_blood_sugar,158355.0,110.736762,27.673445,70.0,89.000000,109.000000,130.00000,230.0
cholesterol_hdl,158355.0,49.491478,9.982634,8.0,43.000000,49.000000,56.00000,93.0
cholesterol_ldl,158355.0,129.569916,34.913318,-19.0,106.000000,130.000000,153.00000,282.0
triglycerides,158355.0,149.715885,49.023473,50.0,116.000000,149.000000,183.00000,380.0
previous_heart_disease,158355.0,0.200575,0.400432,0.0,0.000000,0.000000,0.00000,1.0
medication_usage,158355.0,0.499770,0.500002,0.0,0.000000,0.000000,1.00000,1.0
participated_in_free_screening,158355.0,0.601029,0.489688,0.0,0.000000,1.000000,1.00000,1.0
heart_attack,158355.0,0.401004,0.490103,0.0,0.000000,0.000000,1.00000,1.0

In [11]:

# =================================Data Preprocessing=================================

# Drop rows with missing values
print(f"Shape of df before dropping: {df.shape}")
df.dropna(inplace=True)
print(f"Shape of df after dropping: {df.shape}")

# Turn all string columns into lower case
df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

# =================================Create new columns=================================
# Create a column called "cholesterol_nonhdl" by subtracting "cholesterol_hdl" from "cholesterol_level"
df["cholesterol_nonhdl"] = df["cholesterol_level"] - df["cholesterol_hdl"]

# =================================Rearrange columns=================================
# Insert the column "cholesterol_nonhdl" to the dataframe after "cholesterol_hdl"
df.insert(df.columns.get_loc("cholesterol_hdl") + 1, "cholesterol_nonhdl", df.pop("cholesterol_nonhdl"))
# Move the column "cholesterol_level" to before "cholesterol_hdl"
df.insert(df.columns.get_loc("cholesterol_hdl"), "cholesterol_level", df.pop("cholesterol_level"))


# =================================Drop columns=================================
# Drop hypertension
df.drop(columns=["hypertension", "cholesterol_hdl"], inplace=True)
df.info()

Shape of df before dropping: (158355, 28)
Shape of df after dropping: (63507, 28)
<class 'pandas.core.frame.DataFrame'>
Index: 63507 entries, 2 to 158352
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             63507 non-null  int64
 1   gender                          63507 non-null  object
 2   region                          63507 non-null  object
 3   income_level                    63507 non-null  object
 4   diabetes                        63507 non-null  int64
 5   obesity                         63507 non-null  int64
 6   waist_circumference             63507 non-null  int64
 7   family_history                  63507 non-null  int64
 8   smoking_status                  63507 non-null  object
 9   alcohol_consumption             63507 non-null  object
 10  physical_activity               63507 non-null  object
 11  dietary_habits                  63507 non-null  object
 12  air_pollution_exposure          63507 non-null  object
 13  stress_level                    63507 non-null  object
 14  sleep_hours                     63507 non-null  float64
 15  blood_pressure_systolic         63507 non-null  int64
 16  blood_pressure_diastolic        63507 non-null  int64
 17  fasting_blood_sugar             63507 non-null  int64
 18  cholesterol_level               63507 non-null  int64
 19  cholesterol_nonhdl              63507 non-null  int64
 20  cholesterol_ldl                 63507 non-null  int64
 21  triglycerides                   63507 non-null  int64
 22  EKG_results                     63507 non-null  object
 23  previous_heart_disease          63507 non-null  int64
 24  medication_usage                63507 non-null  int64
 25  participated_in_free_screening  63507 non-null  int64
 26  heart_attack                    63507 non-null  int64
dtypes: float64(1), int64(16), object(10)
memory usage: 13.6+ MB

In [12]:
# ============================Encoding============================

# Turn the variables into categorical variables
df["gender"] = np.where(df["gender"] == "male", 1, 0)
df["region"] = np.where(df["region"] == "urban", 1, 0)
df["income_level"] = df["income_level"].map({"low": 0, "middle": 1, "high": 2})
df["smoking_status"] = df["smoking_status"].map({"never": 0, "past": 1, "current": 2})
df['alcohol_consumption'] = df['alcohol_consumption'].map({'moderate': 0, 'high': 1})
df["physical_activity"] = df["physical_activity"].map({"low": 0, "moderate": 1, "high": 2})
df["dietary_habits"] = df["dietary_habits"].map({"unhealthy": 0, "healthy": 1})
df["air_pollution_exposure"] = df["air_pollution_exposure"].map({"low": 0, "moderate": 1, "high": 2})
df["stress_level"] = df["stress_level"].map({"low": 0, "moderate": 1, "high": 2})
df["EKG_results"] = df["EKG_results"].map({"abnormal": 0, "normal": 1})

cols = ["income_level", "smoking_status", "alcohol_consumption", "physical_activity", "dietary_habits", "air_pollution_exposure", "stress_level"]


df.to_csv("HA_cleaned.csv", index=False)